<?xml version="1.0" encoding="utf-8"?>
<Configuration packages="io.logz.log4j2">

    <Appenders>
        <RollingFile name="file" fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}micorp-integrationorder-systemapi.log"
                 filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}micorp-integrationorder-systemapi-%i.log">
            <PatternLayout pattern="%-5p %d [%t] [processor: %X{processorPath}; event: %X{correlationId}] %c: %m%n"/>
            <SizeBasedTriggeringPolicy size="10 MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>    
        <LogzioAppender name="Logzio">
			<logzioToken>${sys:logzio.token}</logzioToken>
			<logzioUrl>${sys:logzio.url}</logzioUrl>
			<logzioType>micorp-customer-sapi</logzioType>
		</LogzioAppender>
    </Appenders>

    <Loggers>
        <!-- Http Logger shows wire traffic on DEBUG -->
        <!--AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG"/-->
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="WARN"/>

        <!-- Mule logger -->
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>

        <AsyncRoot level="INFO">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Logzio"/>
        </AsyncRoot>
    </Loggers>

</Configuration>